


    <nav>
        <a href="Accueil.html"><img src="../assets/images/fanaovana test_png.png" class="logo" alt="logo_e-tsabo"></a>
        <ul>
            <li class="liDuNav"><a class="aDuNav" href="accueil.html" >Accueil</a></li>
            <li class="liDuNav"><a class="aDuNav" href="#Apropos" >A propos</a></li>
            <li class="liDuNav"><a class="aDuNav" href="#Services">Services</a></li>
            <li class="liDuNav"><a class="aDuNav" href="#Contacts">Contacts</a></li>
            <li class="liDuNav"><a class="aDuNav" href="consultation.html">Consultation</a></li>
            <li class="liDuNav"><a class="aDuNav" href="message.html">Message</a></li>
        </ul>
        <div>
            <img class="user_pic" src="../assets/images/images/profile.png" alt="user-pic" onclick="toggleMenu()">
            <img class="logoIspm" src="../assets/images/ispm-logo.png" alt="logoIspm">
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="../assets/images/images/profile.png" alt="suer-pic">
                    <h3>Edrick fibber's</h3>
                </div>
                <hr>

                <a href="#" class="sub-menu-link">
                    <img src="../assets/images/images/profile.png" alt="profilLogo">
                    <p>Modifier profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="../assets/images/images/setting.png" alt="profilLogo">
                    <p>Réglages</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="../assets/images/images/help.png" alt="profilLogo">
                    <p>Aide</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img src="../assets/images/images/logout.png" alt="profilLogo">
                    <p>Déconnexion</p>
                    <span>></span>
                </a>

            </div>
        </div>    
    </nav>
    <!-- <div class="fond"><img src="../../../assets/images/tension.jpg" alt="tension"></div> -->
    <form>
        <div class="divSelect">
            <h1>E-Tsabo</h1>
            <select>
                <option selected class="selected">Choisir votre medecin</option>
                <option>Docteur1</option>
                <option>Docteur2</option>
                <option>Docteur3</option>
                <option>Docteur4</option>
                <option>Docteur5</option>
            </select>
        </div>
        <div class="separation"></div>
        <div class="corps-formulaire">
            <div class="droite">
                <div class="groupe">
                    <label class="sympt">Veuillez indiquer vos symptômes</label>
                    <textarea placeholder="Saisissez ici..."></textarea>
                </div>
            </div>
        </div>
        <div class="pied-formulaire" align="center">
            <button>Envoyer</button>
        </div>
    </form>

