<div class="css-loader">
    <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
</div>
<div class="hero1">  

    <

    <form>
        <div class="divSelect">
            <h1>E-Tsabo</h1>
            <select>
                <option selected class="selected">Choisir votre medecin</option>
                <option>Cappuccino</option>
                <option>Espresso</option>
                <option>Latte</option>
                <option>Mocha</option>
                <option>Frappe</option>
            </select>
        </div>
        <div class="separation"></div>
            
        <div class="corps-formulaire">
                
            <div class="droite">
                <div class="groupe">
                    <label class="sympt">Veuillez indiquer vos symptômes</label>
                    <textarea placeholder="Saisissez ici..."></textarea>                   
                </div>
            </div>
        </div>
    
        <div class="pied-formulaire" align="center">
            <button>Envoyer</button>
        </div>
    </form>
</div> 
    

