
		<div class="hero">

			<nav>
				<a routerLink="/home-page"><img src="assets/images/fanaovana test_png.png" class="logo" alt="logo_e-tsabo"></a>
				<ul>
					<li class="liDuNav"><a class="aDuNav" href="index.html" >Accueil</a></li>
					<!-- <li class="liDuNav"><a class="aDuNav" href="#Apropos" >A propos</a></li>
					<li class="liDuNav"><a class="aDuNav" href="#Services">Services</a></li>
					<li class="liDuNav"><a class="aDuNav" href="#Contacts">Contacts</a></li> -->
				</ul>
				<div>
					<img class="logoIspm" src="assets/images/ispm-logo.png" alt="logoIspm">
				</div>
			</nav>

			<div class="content">
				<h1 class="anim">Bienvenue de retour <br><span>sur notre plateforme</span> <br>médicale en ligne !</h1>
				<p class="par anim">Connectez-vous pour accéder rapidement à votre compte personnel, 
					où vous pourrez gérer <br> votre santé en ligne, consulter vos rendez-vous, 
					accéder à vos dossiers médicaux et même <br>planifier des consultations 
					en ligne avec nos médecins expérimentés.<br> Si vous êtes nouveau ici, 
					vous pouvez également vous inscrire en utilisant le lien ci-dessous. 
					<br> Nous sommes là pour faciliter votre expérience de soins de santé, 
					où que vous soyez.
				</p>
	
				<button class="cn anim"><a href="#">Creer un compte</a></button>
				

				<div class="form">
					<h2>Connexion</h2>
					<p class="authmessage" [innerHTML]="authMessageHTMLSafe"  [style.display]="authMessageVisible ? 'block' : 'none'"></p>
					<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
						<input type="username" name="username" placeholder="Username" formControlName="username">
						<input type="password" name="password" placeholder="Mot de passe" formControlName="password">
						<button class="btnn" type="submit">Se connecter</button>
					</form>
					<div class="divP anim">
						<p class="link anim">je n'ai pas encore de compte <br></p>
						<a href="#" class="lien anim">créer un compte ici</a>
						<p class="liw anim">Se connecter avec :</p>
					</div>
	
					<!-- <div class="icons">
						<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
						<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
						<a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
						<a href="#"><ion-icon name="logo-google"></ion-icon></a>
						<a href="#"><ion-icon name="logo-skype"></ion-icon></a>
					</div> -->

                    <div class="icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
					
				</div>
			</div>	
		</div>
	