<div class="d-flex align-items-center vh-85">
    <div class="flex-shrink-0">
        <img src="../../../assets/img/IA.webp" alt="image doctor">
    </div>
    <div class="flex-grow-1 ms-3 mr-10">
        <h1 class="text-center title-main">Inscription</h1>
        <p class="regmessage text-center text-danger" [innerHTML]="regMessageHTMLSafe"  [style.display]="regMessageVisible ? 'block' : 'none'"></p>
        <p class="text-center personalInfo">Personal information</p>
        <section class="main-items">

        <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()">
        <div class="d-flex form-group justify-content-around mx-2 ">
            <div >
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username" name="username" formControlName="username">
            </div>
            <div >
                <label for="mail">email</label>
                <input type="text" class="form-control" id="mail" placeholder="votreaddresseemail@gmail.com" name="email" formControlName="email">
            </div>
        </div>

        <div class="d-flex form-group justify-content-around mx-2 ">
            <div >
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" name="name" formControlName="name">
            </div>
            <div >
                <label for="birthdate">Date de naissance</label>
                <input type="date" class="form-control" id="name" placeholder="birthdate" name="birthdate" formControlName="birthdate">
            </div>
          

        </div>
        <div class="form-group d-flex justify-content-around">
            <div>
                <label for="">Mot de passe</label>
                <input type="password" class="form-control" placeholder="mot de passe" name="password" formControlName="password">
            </div>
            <div>
                <label for="">Confirmation</label>
                <input type="password" class="form-control" placeholder="confirmation" formControlName="confirm_password">
            </div>
        </div>
        <div class="form-group d-flex justify-content-around">
                <div><label>Sexe:</label></div>
                <div>
                    <input type="radio" id="male" value="1" formControlName="gender" name="gender"> 
                    <label for="male">Homme</label>
                </div>
                <div>             
                    <input type="radio" id="female" value="0" formControlName="gender" name="gender"> 
                    <label for="female">Femme</label>
                </div>  
        </div>
            <button class="btn btn-success mt-3 padding" type="submit">Enregister</button>
        </form>
        </section>
    </div>
</div>
